.btn-facebook {
    background: #3B5998;
    border-radius: 10;
    color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
}

.video-js {
    width: 100%;
    /* height: 45em; */
}